[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/j/Desktop/OpenDocument Text.odt]
row=4
col=0

[2019-08-05-19-22-27-00]
row=3
col=0

[2019-10-10-18-52-14-12]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/j]
row=2
col=0

